* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kaisei HarunoUmi', serif;
}

a.cuore {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 20px;
    right: 0;
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: xx-large;
    text-align: center;
}
span {
    font-size: 12px;
    font-weight:bold;
}

img {
    height: 500px;
}

.container {
    width: 1000px;
    margin: 50px auto;
    
}

.product {
    display: inline-block;
    position: relative;
}
.product, img {
    width: calc(1000px / 3 - 3px);
    
}

.foto_2 {
    position: absolute;
    top: 0;
    left: 0;
}



.foto_2 {
     display: none; 
}
 
.product:hover .foto_2 {
    display:block;
} 
.etichette {
    position: absolute;
    left: 0;
    bottom: 90px;
}

.sconto {
    background-color: #eb0037;
}

.ambiente {
    background-color: #00875a;
}
.sconto, .ambiente {
    display: inline-block;
    color: white;
    padding: 5px;
    font-size: small;
}

.prezzo_1 {
    color: #ff1313;
    
}

.prezzo_2 {
    text-decoration: line-through;
}

a.info {
    text-decoration: none;
    color: black;
}